* {
    box-sizing: border-box;
  }

$white-color: #ffffff;
$btn-color: #38aef0;

.side-bar {
  width: 300px;
  height: 100vh;
  float: left;
  &__header {
    background-color: #253141;
    height: 100px;
    position: relative;
    &__box {
      height: 20px;
      width: 260px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      display: flex;
      justify-content: space-between;
      color: $white-color;
      font-size: 16px;
      align-items: center;
    }
      .btn{
        display: flex;
        .edit {
          color: $white-color;
        }
        .cog {
          color: $white-color;
          margin-left: 5px;
        }
      }
  }
  .side-group {
    background-color: #2f3e51;
    height: calc(100% - 100px);
    padding: 20px 20px 0;
    overflow: scroll;
      .side-group-list {
        &__name {
          margin-bottom: 5px;
          font-size: 15px;
          color: $white-color;
        }
        &__massage {
          margin-bottom: 40px;
          font-size: 11px;
          color: $white-color;
        }
      }
  }
}

.main-chat {
  width: calc(100% - 300px); 
  height: 100vh;
  float: left;
  .main-header {
    background-color: $white-color;
    height: 100px;
    border-bottom: solid 1px #eeeeee;
    position: relative;
    &__information {
      position: absolute;
      top: 35px;
      left: 40px;
      font-size: 20px;
      color: #333333;
      .list {
        margin-top: 15px;
        font-size: 12px;
        color: #999999;
        display: flex;
      }
    }
    &__edit {
      position: absolute;
      top: 28px;
      right: 40px;
      border: solid 1px $btn-color;
        .edit-btn {
          color: $btn-color;
          text-decoration: none;
          font-size: 16px;
          line-height: 40px;
          padding: 0px 20px;
        }
    }
  }
  .main-content {
    background-color: #fafafa;
    height: calc(100% - 100px - 90px);
    padding: 46px 40px;
    overflow: scroll;
    .message {
      padding-bottom: 40px;
      .upper-message {
        display: flex;
        margin-bottom: 12px;
        &__name {
          color: #333333;
          font-size: 16px;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .lower-message {
        color: #434a4a;
        font-size: 14px;
      }
    }
  }
  .main-fotter {
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px;
      form {
      width: 100%;
      display: flex ;
      .input-box {
        width: 100%;
        position: relative;
        &__text {
          height: 50px;
          width: 100%;
          border-style: none;
          padding: 0 40px 0 10px;
        }
        &__image {
          cursor: pointer;
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          &__file {
            display: none;
          }
        }
      }
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $btn-color;
        color: $white-color;
        cursor: pointer;
      }
    }
  }
}

